
:root {
  --black: #1c2a39;
  --gray: #5c6a79;
  --purple: #4c3db2;
}
body{
    margin: 0;
    padding: 0;
}
.menu-bar{
  width: 100%;
  max-width: 520px;
  height: 100%;
  background-color: rgba(73, 66, 99, 0.356);
  position: absolute;
  left: 0;
  top: 0;
}
.menu-item{
    font-weight: 600;
    font-size: 35px;
    padding: 50px;
    list-style: none;
    text-decoration: none;
    color: white;
}
.menu-link{
  text-decoration: none;
  color: white;
}
.menu-link:hover{
  transition: 0.5s all linear;
  color: #5c6a797c;
  margin-right: 20px;
}
.fa-solid{
  color: white;
}
.logo{
  width: 100%;
  max-width: 150px;
}
.book_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.box{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card{
  width: 100%;
  max-width: 300px;
}
.navbar{
  height: 120px;
  width: 80%;
  margin-left: 10%;
}
.title{
  font-weight: bold;
}
.menu, 
.menu_icons{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: var(--gray);
  cursor: pointer;
}

.menu .active{
  color: var(--black);
  font-weight: bold;
}

.menu li, .menu_icons li {
  margin: 0 10px;

}
.menu_icons li {
  color: var(--black);
}
.menu_icons li i{
  color:black;
}
.menu_icons li i:hover{ 
  transition: 0.5 all linear;
  color:red;
}


.basket_icon{
 position: relative;
}

.basket_count{
 position: absolute;
  right: -0.7rem;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: var(--black);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.slider{
  width: 80%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.slider img {
  height: 600px;
}
.store{
  width: 80%;
  margin-left: 10%;
}

.book_card{
  height: 400px;
  display: flex;
  align-content: center;
}
.image{
  display: flex;
  justify-content: center;
}
.information{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}
.fos{
  font-family: open sans-serif
}
.gray{
  color: var(--gray);
}
.black{
  color: var(--black);
}

.fw-bold{
  font-weight: bold;
}

.book_star_rate .fa-star, .fa-star{
  color: white ;
  font-size: 1.2rem;
  margin-right: 5px;
}

.book_star_rate .fa-star.active{
  color: rgb(238, 222, 0);
}
.btn{
  width: 100%;
}
.book_reviews{
  color: gray;
}
.old_price{
  text-decoration: line-through;
  color: rgb(196, 194, 194);
}
.book-description{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-line-clamp: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.filter-background{
  position: absolute;
  left: 0;
  width: 600px;
  height: 900px;
  background-color: rgb(177, 168, 168);
  z-index: -1;
}

.filter{
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 650px;
  justify-content: center;
  text-align: center;
}

.filter li {
  width: 100%;
  color: var(--gray);
  font-size: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-weight: bold;
}
.img-fluid{
  height: 400px;
}
.filter li:hover{
  transition: 1s all linear;
  color: var(--purple);
}

.filter li.active{
  color: var(--purple);
  font-size: 1.5rem;
  font-weight: bold;
}

.filter li.active::before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--purple);
  position: absolute;
    left: 158px;
  margin-top: 12px;
}

.bakset_modal{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.514);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s all linear ease-in-out;
  z-index: -1;
}
.bakset_modal.active{
  opacity: 1;
  z-index: 9;
}
.basket_items{
  position: relative;
  width: 0px;
  background-color: white;
  height: 100%;
  float: right;
  transition: 1s all linear ease-in-out;
}

.bakset_modal.active .basket_items{
  width: 450px;
}

.basket_items .bi-x{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  color: var(--black);
  cursor: pointer;
}

.basket-title{
    color: black;
    text-align: center;
    font-weight: bold;
}

.basket_list{
  list-style-type: none;
  padding: 0 5px;
  margin-top: 3rem;
  max-height: 650px;
  overflow-y: auto;
}

.basket_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.basket_item-info{
  width: 250px;
}
.basket_item-info .book_name{
  font-size: 16px;
  font-weight: bold;
}

.basket_item-info .book_price{
  font-size: 16px;
}

.basket_item .book-count{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
}
.book_count .increase{
  margin-right: 5px;
}
.book_count .decrease{
  margin-right: 5px;
}
.book_count .increase, .decrease{
    color: var(--purple);
    cursor: pointer;
}

.basket-total{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  align-items: center;
  width: inherit;
}

.close{
  font-size: 50px;
  color: red;
  cursor: pointer;
}

.fa-x{
  color: black;
  font-size: 30px;
  margin: 30px;
  cursor: pointer;
}
.fa-x:active{
  color: red;
}